<h1> <%= @task.title %></h1>

<p class="details"> <%= @task.details %></p>
  <p>
    <label class="container">
        <input type="checkbox" >
          <%="The task is not completed yet" %>
        <span class="checkmark"></span>
    </label>
  </p>
<p> <%= link_to "back to list", tasks_path %></p>
